:root{
    --primary-color: #b70808;
    --secondary-color: black;
    --terciary-color: rgb(217, 216, 216);
}

.estrella{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 22px;
    height: 24px;
    background-color: var(--terciary-color);
}
.rellena{
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    width: 22px;
    height: 24px;
    background-color: var(--primary-color);
}
#products{
    background-color: var(--secondary-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    gap: 40px;
    width: 74vw;
}
#products > div{
    border-color: var(--terciary-color);
    border-width: 1px;
    border-style:dashed;
    flex-basis: 270px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vw;
    padding: 1vw;
}
.carta > img{
    width: 175px;
    height:195px;
    object-fit: fill;
    transition: transform 0.5s ease;
}
.carta > img:hover{
    transform: scale(1.2);
}

.starsGroup{
    display: flex;
}

.price::after{
    content:  "€";
}

@media (max-width: 770px) {
   .carta > img:hover{
        transform: none;
    }
}

@media (max-width: 550px){
    #products > div > img{
        width: 130px;
        height: 150px;
        object-fit: fill;
    }
    #products {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
}

@media (max-width:270px){
    #products > div > img{
        width: 100px;
        height:110px;
        object-fit: fill;
    }
    .estrella .rellena{
        width: 12px;
        height: 14px;
    }
}